---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import icons from "../assets/icons.json";
interface Project {
	slug: string,
	data: {
		title: string,
		description: string,
		tags: string[],
		client: string,
		url: string
	}
}
const projects: Project[] = await getCollection("projects");
---

<Layout title="Projects" desc="Syltr1x portfolio projects page">
	<header class="bg-[#3337] pt-5 sm:pt-6 fixed bottom-0 w-full z-100 sm:relative sm:top-0 sm:bottom-auto sm:bg-[#0000]">
		<nav>
			<ul class="flex items-center justify-center pb-4 sm:pb-0">
				<li class="mx-2">
					<a href="/" class="flex items-center gap-2 hover:bg-[#ccc8] dark:hover:bg-[#3338] rounded-xl sm:rounded-[.5vw] px-3 py-2 duration-300">
						<svg class="size-9 sm:size-6" fill=currentColor xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 5.69L17 10.19V18H15V12H9V18H7V10.19L12 5.69M12 3L2 12H5V20H11V14H13V20H19V12H22" /></svg>
						<p class="hidden sm:block">Home</p>
					</a>
				</li>
				<li class="mx-2">
					<a href="/about" class="flex items-center gap-2 hover:bg-[#ccc8] dark:hover:bg-[#3338] rounded-xl sm:rounded-[.5vw] px-3 py-2 duration-300">
						<svg class="size-9 sm:size-6" fill=currentColor xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z" /></svg>
						<p class="hidden sm:block">About</p>
					</a>
				</li>
				<li class="mx-2">
					<a href="/projects" class="flex items-center gap-2 bg-[#ccc8] dark:bg-[#3338] rounded-xl sm:rounded-[.5vw] px-3 py-2 border-1 border-[#6e0001]">
						<svg class="size-9 sm:size-6" fill=#6e0001 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10,2H14A2,2 0 0,1 16,4V6H20A2,2 0 0,1 22,8V19A2,2 0 0,1 20,21H4C2.89,21 2,20.1 2,19V8C2,6.89 2.89,6 4,6H8V4C8,2.89 8.89,2 10,2M14,6V4H10V6H14Z" /></svg>
						<p class="hidden sm:block">Projects</p>
					</a>
				</li>
				<li class="mx-2">
					<a href="/posts" class="flex items-center gap-2 hover:bg-[#ccc8] dark:hover:bg-[#3338] rounded-xl sm:rounded-[.5vw] px-3 py-2 duration-300">
						<svg class="size-9 sm:size-6" fill=currentColor xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 7V19H19V21H4C2 21 2 19 2 19V7H4M21 5V15H8V5H21M21.3 3H7.7C6.76 3 6 3.7 6 4.55V15.45C6 16.31 6.76 17 7.7 17H21.3C22.24 17 23 16.31 23 15.45V4.55C23 3.7 22.24 3 21.3 3M9 6H12V11H9V6M20 14H9V12H20V14M20 8H14V6H20V8M20 11H14V9H20V11Z" /></svg>
						<p class="hidden sm:block">Posts</p>
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<div class="grid grid-cols-1 lg:grid-cols-2 m-4">
			{
      projects.map(project => {
        const { slug, data } = project;
				const { title, description, client, tags, url } = data;

				return (
				<a href={`project/${slug}`}>
					<div class="border-1 border-[#3332] p-1 rounded-xl flex flex-col sm:flex-row relative m-4">
						<img 
							class="rounded-xl sm:w-1/2 w-full lg:size-1/4" 
							src="https://i.pinimg.com/736x/8f/c1/10/8fc110e862e0aba065d155ecefca2735.jpg"
							alt=""
						>
						<div class="m-4 relative">
							<div class="flex justify-between items-center mb-4">
								<h1 class="text-4xl font-bold flex" transition:name="title-proj">
									{title}
								</h1>
								<svg class="size-6" fill=currentColor xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path d={icons.github}/></svg>
							</div>
							<p class="sm:mb-6 mb-12">{description}</p>
							<div class="absolute w-full bottom-0 flex justify-between mb-[-.5rem] flex-col sm:flex-row">
								<p class="flex items-center gap-1" title="Cliente">
									<svg class="size-5" fill=currentColor xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg>
									{client}
								</p>
								<div title="Tecnologias">
									{tags.map((t) => <span class="text-center border-1 border-[#6e0001] text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:text-[#b82d00]">{t}</span>)}
								</div>
							</div>
						</div>
					</div>
				</a>
				)
      })
    }
	</div>
</Layout>
